---
interface Props {
  image: string;
  badge: string;
  title: string;
  country: string;
  duration: string;
  boardBasis: string;
  price: string;
  href: string;
}

const { image, badge, title, country, duration, boardBasis, price, href } = Astro.props;
---

<div class="offer-card flex-shrink-0 relative flex flex-col justify-between">
  <div>
    <div class="offer-img bg-cover bg-no-repeat bg-center" style={`background-image: url('${image}')`}></div>
    <div class="discount absolute top-[15px] left-0 h-[50px] bg-black/80 text-white flex items-center justify-center px-5 rounded-r-3xl">
      <div class="font-medium text-sm leading-[17px] text-center px-1.5">{badge}</div>
    </div>
    <div class="offer-title font-bold text-secondary">{title}</div>
    <ul class="pt-2.5">
      <li class="font-medium text-sm text-[#878787] flex items-center pb-[5px]">
        <img src="/icons/compass-grey.svg" alt="" class="pr-2 w-[22px]" />
        {country}
      </li>
      <li class="font-medium text-sm text-[#878787] flex items-center pb-[5px]">
        <img src="/icons/nights-grey.svg" alt="" class="pr-2 w-[22px]" />
        {duration}
      </li>
      <li class="font-medium text-sm text-[#878787] flex items-center pb-[5px]">
        <img src="/icons/board-basis-grey.svg" alt="" class="pr-2 w-[22px]" />
        {boardBasis}
      </li>
    </ul>
  </div>
  <div class="offer-bot-wrap flex justify-between items-end">
    <div class="pt-1.5">
      <span class="font-medium text-sm leading-[38px]">from</span>
      <div class="font-display text-[40px] leading-[38px]">{price}<span class="font-medium text-sm">/pp</span></div>
    </div>
    <a href={href} class="offer-btn btn-primary">
      View More
      <img src="/icons/more-icon-white.svg" alt="" class="pl-[18px]" />
    </a>
  </div>
</div>

<style>
  .offer-card {
    width: 396px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
    padding: 0 22px 28px;
    margin: 0 3px 20px;
  }
  @media (max-width: 320px) {
    .offer-card {
      width: 285px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .offer-img {
    min-width: 291px;
    height: 240px;
    margin-left: -22px;
    margin-right: -22px;
  }
  @media (max-width: 320px) {
    .offer-img {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  .offer-title {
    padding-top: 18px;
    font-size: 24px;
    line-height: 27px;
  }

  .offer-btn {
    width: 185px;
    height: 64px;
    letter-spacing: 1px;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.25);
  }
  @media (max-width: 320px) {
    .offer-btn {
      width: 101px;
      padding: 0 10px;
    }
  }
</style>
